nvim/.config/nvim/plugin/packer_compiled.lua
.luarc.json
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zshenv.local
zsh/.config/zsh/.zshrc.local
local_bin/.local/bin/docker
local_bin/.local/bin/docker-compose
local_bin/.local/bin/docker-credential-osxkeychain
local_bin/.local/bin/kubectl
local_bin/.local/bin/orb
local_bin/.local/bin/orbctl
zsh/.config/zsh/.zsh_history
